sheep-btn {
  display: block;
  position: fixed;
  z-index: 1000;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
  right: 10px;
  bottom: 10px;
  transform: translateZ(0);
}
sheep-btn, .sheep-blockscreen sheep-btn:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' stroke='white' stroke-opacity='0.7' stroke-width='20' fill='none'%3E%3Cpath d='M90 90a50 50 0 0 0 0 100H98.579A150 150 0 1 0 381.421 190H390a50 50 0 0 0 0 -100a50 50 0 1 1 -100 0a50 50 0 1 1 -100 0a50 50 0 1 1 -100 0z'/%3E%3C/svg%3E");
}
sheep-btn:hover {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' stroke='black' stroke-opacity='0.7' stroke-width='20' fill='none'%3E%3Cpath d='M90 90a50 50 0 0 0 0 100H98.579A150 150 0 1 0 381.421 190H390a50 50 0 0 0 0 -100a50 50 0 1 1 -100 0a50 50 0 1 1 -100 0a50 50 0 1 1 -100 0z'/%3E%3C/svg%3E");
}
sheep-btn:active {
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  transform: translateZ(0) scale(0.9);
}
sheep-btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.5), 0 0 0 5px rgba(79,161,167,0.3);
}
.sheep-blockscreen {
  pointer-events: none;
  overflow: hidden;
}
.sheep-blockscreen sheep-btn {
  right: 0;
  bottom: 0;
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: 70px;
  background-position: 50% 50%;
  box-shadow: none;
  pointer-events: none;
  transition: all .2s;
}
