#sheepmenu {
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: -20;
  right: -20;
  border-bottom-right-radius: 80px;
  box-shadow: 0 0 10px rgba(0,0,0.5);
  z-index: 1000;
  transition: bottom .5s, right .5s, box-shadow .5s, border-radius .5s;
}
#sheepmenu:hover {
  bottom: -10;
  right: 0;
  border-bottom-right-radius: 100px;
  box-shadow: 0 0 15px rgba(0,0,0.5);
}
#sheepmenu:active {
  box-shadow: 0 0 2px rgba(0,0,0.5);
  transition: box-shadow .2s;
}
@keyframes wow {
  0% {bottom: calc(50vh - 50px);right: calc(50vw - 50px);}
  100% {bottom: calc(50vh - 50px);right: calc(50vw - 50px);}
}
