html, body, .page, #background {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 15px;
  color: rgba(255,255,255,0.8);
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  line-height: 1;
}
#background {
  background-image: url('img/blorrest.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
  /*filter: blur(5px) brightness(0.8);*/
}
.page {
  padding-bottom: 40px;
  box-sizing: border-box;
  display: none;
}
.page.active {
  display: block;
}
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(79,161,167,0.8);
  padding: 0 5px;
  font-size: 0;
  z-index: 15;
}
nav span {
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  color: white;
}
nav .clickable {
  cursor: pointer;
  transition: background .2s;
  color: rgba(255,255,255,0.8);
}
nav .clickable:not(.active):hover {
  background: rgba(0,0,0,0.2);
  color: white;
}
nav .clickable.active {
  cursor: default;
  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,0.8);
}
nav .btn {
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: all .2s;
}
nav .btn:hover {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  padding: 4px;
  margin: 8px;
}
#places {
  font-size: 0;
  overflow-x: hidden;
}
place {
  width: 25%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 0;
  background: #4FA1A7;
  transition: transform .2s, z-index .2s;
}
place:hover {
  transform: scale(1.05);
  z-index: 10;
}
place img {
  width: 100%;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .2s;
}
place:hover img {
  opacity: 1;
  filter: grayscale(0%);
}
place p {
  font-size: 30px;
  margin: auto 0;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  text-shadow: 0 0 20px black;
  height: 30px;
}
placelist {
  width: 100%;
  display: block;
  font-size: 60px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background .2s;
}
placelist:nth-child(even) {
  background: rgba(255,255,255,0.1);
}
placelist:hover {
  background: rgba(79,161,167,0.8);
}
#stalking p, #stalking h1 {
  margin: 0;
  padding: 5px 0;
}
#stalking p strong {
  font-size: 1.5em;
  font-weight: normal;
}
#milliage, #yage {
  font-weight: bold;
}
#stalking ul {
  padding: 5px;
  margin: 0;
  list-style: none;
}
#stalking ul li:before {
  content: '- ';
}
list {
  background: rgba(255,255,255,0.1);
  display: block;
  padding: 0 5px;
}
list social {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 15px 10px;
  position: relative;
  cursor: pointer;
  transition: transform .2s;
}
list social:hover {
  transform: scale(1.1);
}
list social ball {
  display: block;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#scratch {background: #25AFF4;}
#scratch ball {border: 5px solid white; background: #F8A839;}
#instagram {background-image: url('img/instagram_gradient.png'); background-size: 100px 100px;}
#github {background: #333333;}
#google {background: #DB4437;}
#youtube {background: #E62117;}
#tumblr {background: #36465D;}
#users h1 {
  margin: 0;
  font-weight: normal;
  padding: 10px;
  padding-bottom: 0;
}
#signedout input {
  display: table;
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding: 5px 10px;
  margin: 10px;
}
#signedout input:focus {
  border-bottom-color: rgba(79,161,167,0.8);
}
#signedout ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
#signedout .error {
  color: #f44336;
  margin: 0 10px;
  display: table;
}
#signedout input[type=submit] {
  border-bottom: none;
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  margin-top: 0;
}
#signedout input[type=submit]:disabled {
  cursor: default;
}
#signedout input[type=submit]:not(:disabled):hover {
  background: rgba(255,255,255,0.4);
}
#signedout p {
  margin: 0;
  padding: 10px;
  font-size: 10px;
  max-width: 300px;
}
.getTextLength {
  position: fixed;
  bottom: -100px;
  white-space: pre;
  padding: 0;
  margin: 0;
}
#users > div {
  display: none;
}
#signedin button {
  background: rgba(255,255,255,0.3);
  border: none;
  color: white;
  cursor: pointer;
  display: table;
  padding: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100px;
}
#signedin button:hover {
  background: rgba(255,255,255,0.4);
}
placelist badge {
  display: inline-block;
  font-size: 30px;
  padding: 0 5px;
  border-radius: 5px;
  max-width: 20px;
  height: 30px;
  overflow: hidden;
  transition: max-width .5s;
  white-space: nowrap;
}
placelist badge:hover {
  max-width: 25%;
}
placelist badge:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.featured {
  background: #7DAB55;
}
.featured:before {
  background-image: url('img/star.svg');
}
.new {
  background: #B18C5B;
}
.new:before {
  background-image: url('img/material_new_releases.svg');
}
place badge {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-width: 20px;
  height: 20px;
  overflow: hidden;
  transition: max-width .5s;
  white-space: nowrap;
}
place badge:hover {
  max-width: 100%;
}
place badge:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
#redirects h1 {
  margin: 0;
  padding: 10px;
}
#redirects dl {
  margin: 0;
  padding: 10px;
}
#redirects dt {
  float: left;
  clear: left;
  padding-right: 5px;
  margin: 5px 0;
}
#redirects dt:before {
  content: '?';
}
#redirects dd {
  margin: 0;
  float: left;
  margin: 5px 0;
}
#redirects a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  background: rgba(255,255,255,0.1);
}
#redirects a:hover {
  opacity: 1;
  background: rgba(255,255,255,0.15);
}

sarcasm {
  display: none; /* sarcasm is not needed here */
}
