html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Roboto Condensed', sans-serif;
  background-color: black;
  line-height: 1;
  overflow: auto;
  background-image: radial-gradient(circle at 100% 100%, #72f3c6, #28cdc4, #00a6b8, #007fa0, #225a7e, #293756);
  background-attachment: fixed;
  background-size: contain;
}
a {
  color: inherit;
  text-decoration: inherit;
}
:focus {
  outline: none;
}

/* LINKS - GRID */
.places {
  font-size: 0;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}
@media (max-width: 2250px) {.places {grid-template-columns: repeat(9, 1fr);}}
@media (max-width: 2000px) {.places {grid-template-columns: repeat(8, 1fr);}}
@media (max-width: 1750px) {.places {grid-template-columns: repeat(7, 1fr);}}
@media (max-width: 1500px) {.places {grid-template-columns: repeat(6, 1fr);}}
@media (max-width: 1250px) {.places {grid-template-columns: repeat(5, 1fr);}}
@media (max-width: 1000px) {.places {grid-template-columns: repeat(4, 1fr);}}
@media (max-width: 750px) {.places {grid-template-columns: repeat(3, 1fr);}}
@media (max-width: 550px) {.places {grid-template-columns: repeat(2, 1fr);}}
@media (max-width: 350px) {
  .places {
    grid-template-columns: 1fr;
    padding: 0 16%;
  }
}
.place {
  position: relative;
  padding-bottom: 100%;
}
.place-box {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
  vertical-align: top;
  border-radius: 10px;
  overflow: hidden;
  transition: transform .2s, z-index .2s;
  will-change: transform;
}
.place:hover .place-box, .tabkeyfocus .place:focus .place-box {
  transform: scale(1.05);
  z-index: 10;
}
.place img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  transition: all .2s;
  z-index: -1;
}
.place:hover img, .tabkeyfocus .place:focus img {
  opacity: 1;
  filter: grayscale(0%);
}
.place-name {
  font-size: 30px;
  margin: 0;
  width: 100%;
  position: relative;
  text-align: center;
  text-shadow: 0 0 5px transparent, 0 0 30px transparent;
  transition: all .2s;
  word-break: break-word;
  will-change: transform;
}
.place:hover .place-name, .tabkeyfocus .place:focus .place-name {
  transform: scale(1.1);
  text-shadow: 0 0 5px black, 0 0 30px black;
  color: white;
}

/* LINKS - LIST */
.list-view .places {
  padding: 0;
}
.list-view .places a {
  width: 100%;
  display: block;
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background .2s;
  box-sizing: border-box;
}
.list-view .places a:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.list-view .places a:hover, .tabkeyfocus .list-view .places a:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.2);
}
.list-view .places a:active {
  background-color: rgba(0, 0, 0, 0.4);
}

/* ABOUT */
.about {
  height: auto;
  text-align: center;
  margin: 10px auto;
  margin-top: 20px;
  max-width: 500px;
  padding: 0 10px;
  line-height: 1.5;
}
.about strong {
  color: white;
  font-weight: normal;
}
@media (max-width: 400px) {
  .about {
    font-size: 16px;
  }
}
#happy {
  cursor: pointer;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}
#happy span {
  display: inline-block;
}

/* SOCIAL MEDIA */
.socials {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
.list {
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  text-align: center;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
  max-width: 620px;
  margin: 15px auto;
  font-size: 0;
}
.list .social, .mini-social {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: transform .2s;
  font-size: 0;
  vertical-align: top;
}
.list .social:hover, .tabkeyfocus .list .social:focus {
  transform: scale(1.1);
}
.list .social .ball, .mini-social .ball {
  display: block;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  transition: transform .2s;
}
.list .social:hover .ball, .tabkeyfocus .list .social:focus .ball {
  transform: scale(1.2);
}
.other > span {
  margin: 0 10px;
  white-space: nowrap;
}
.mini-social {
  cursor: auto;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin: 5px 0;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
}
.mini-social .ball {
  height: 15px;
  width: 15px;
}
#scratch {background-color: #25AFF4;}
#scratch .ball {border: 5px solid white; background-color: #F8A839;}
#instagram {background-image: radial-gradient(circle at 20% 100%, #F9D773, #F5AB3F, #F05431, #DD1D4F, #AA128D, #3D3CE2); background-size: 100px 100px;}
#instagram .ball {border: 5px solid white; background-color: transparent;}
#github {background-color: #181717;}
#google {background-color: #DC4E41;}
#youtube .ball {background-color: #FF0000;}
#tumblr {background-color: #36465D;}
#blogger {background-color: #FF5722;}
#twitter .ball {background-color: #1DA1F2;}
#reddit {background-color: #FF4500;}
#jsfiddle {background-color: #0483FF;}
#jsfiddle .ball {border: 5px solid white; background-color: transparent;}
#twitch {background-color: #6441A4;}
#twitch .ball {border: 5px solid white; background-color: transparent;}
#replit {background-color: #F4F4F5;}
#replit .ball {border: 15px solid #697C84; background-color: #4F5151;}
#gitlab {background-color: #2D2D61;}
#gitlab .ball {background-color: #E1452D;}
#codecademy .ball {border: 5px solid #1F4056; background-color: transparent;}
#minecraft {background-color: #6CD45A;}
#minecraft .ball {background-color: #000000;}
#discord {background-color: #7289DA;}
#facebook {background-color: #3B5998;}
#duolingo {background-color: #30A7E4;}
#duolingo .ball {background-color: #77C700;}
#jsperf {background-image: linear-gradient(#6ca5dd, #1a6ab9);}
#jsperf .ball {background-color: white;}
#gravatar {background-color: #1E8CBE;}
#gravatar .ball {background-color: white;}
#quizlet {background-color: #4458B0;}
#quizlet .ball {background-color: white;}
#lernu {background-color: #347F78;}
#lernu .ball {background-color: white;}
#storyboardthat {background-color: white;}
#storyboardthat .ball {background-color: #729DC8;}
#imgur {background-color: #21B66E;}
#imgur .ball {border: 5px solid white; background-color: transparent;}
#gmail {background-color: #E4E4E4;}
#gmail .ball {border: 2px solid #D14836; background-color: transparent;}
#outlook {background-color: #0072C6;}
#outlook .ball {border: 2px solid white; background-color: transparent;}
#email::after {
  content: 'ussa.say';
}

/* SHEEP INTRO ANIMATION */
.blank {
  background-color: black;
  background-image: none;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
.blank sheep-btn {
  right: 0;
  bottom: 0;
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: 70px;
  background-position: 50% 50%;
  box-shadow: none;
  transition: all .5s, background-position 0s;
}
.reveal-sheep {
  transition: opacity .5s;
  opacity: 1;
}
.reveal-sheep-immediately {
  opacity: 1;
}
.sheep-minimize sheep-btn {
  transition: all .5s;
  transition-delay: .5s;
  pointer-events: none;
}

noscript {
  font-size: 24px;
  background-color: #f44336;
  color: white;
  padding: 20px;
  display: block;
}

/* SHADY DEFAULT CHANGING */
::selection {
  background: rgba(0, 188, 212, 0.4);
}

sarcasm {
  display: none; /* sarcasm is not needed here */
}
