body {
  margin: 0;
  font-size: 30px;
  background-image: url("rain.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgba(255,255,255,0.8);
  font-family: 'Roboto',sans-serif;
}
ul {
  margin: 0;
  padding: 5px;
}
li {
  display: block;
  margin-left: 5px;
}
a {
  text-decoration: none;
  padding-bottom: 1px;
  color: rgba(255,255,255,0.5);
}
a:hover {
  padding-bottom: 0;
  border-bottom: solid 1px rgba(255,255,255,0.5);
}
a:active {
  color: rgba(255,255,255,0.8);
  border-bottom-color: rgba(255,255,255,0.8);
}
p {
  margin: 0;
}
#sheepmenu {
  animation: woww 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes woww {
  0% {
    bottom: calc(50vh - 50vw);
    border-top-left-radius: 0;
    box-shadow: none;
    width: 100vw;
  }
  100% {
    bottom: -10px;
    border-top-left-radius: 100px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    width: 100px;
  }
}
.rain li {
  position: fixed;
  height: 100px;
  width: 3px;
  top: 100vh;
  background: rgba(255,255,255,0.2);
  animation: rain .3s linear;
}
@keyframes rain {
  from {top:-100px;}
  to {top: 100vh;}
}
