html, body, .page, #background {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-size: 15px;
  color: rgba(255,255,255,0.8);
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  line-height: 1;
}
a {
  color: inherit;
  text-decoration: inherit;
}
@media (max-width: 800px) {
  body {
    font-size: 20px;
  }
}
#background {
  background-image: url('/img/blur.png');
  background-size: 100vw 100vh;
  background-position: center;
  position: fixed;
  z-index: -1;
  /*filter: blur(5px) brightness(0.8);*/
}
.page {
  padding-bottom: 40px;
  box-sizing: border-box;
  display: none;
  overflow: auto;
}
.page.active {
  display: block;
}
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(79,161,167,0.8);
  padding: 0 5px;
  font-size: 0;
  z-index: 15;
}
nav span {
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  color: white;
}
nav .clickable {
  cursor: pointer;
  transition: background .2s;
  color: rgba(255,255,255,0.8);
}
nav .clickable:not(.active):hover {
  background-color: rgba(0,0,0,0.2);
  color: white;
}
nav .clickable.active {
  cursor: default;
  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,0.8);
}
nav .btn {
  cursor: pointer;
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all .2s;
}
nav .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px;
  margin: 8px;
}
@media (max-width: 570px) {
  #view {
    display: none;
  }
}
#places {
  font-size: 0;
  overflow-x: hidden;
  padding: 5px 0 40px 5px;
}
.place {
  width: calc(16.5% - 20px);
  margin: 10px;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 0;
  background-color: #4FA1A7;
  vertical-align: top;
  border-radius: 2px;
  overflow: hidden;
  transition: transform .2s, z-index .2s;
}
.squarifier {
  width: 100%;
  margin-left: -100%;
}
.squarifier div {
  margin-top: 100%;
}
@media (max-width: 2550px) {
  .place {
    width: calc(20% - 20px);
  }
}
@media (max-width: 1600px) {
  .place {
    width: calc(25% - 20px);
  }
}
@media (max-width: 800px) {
  .place {
    width: calc(33% - 20px);
  }
}
@media (max-width: 600px) {
  .place {
    width: calc(50% - 20px);
  }
}
@media (max-width: 400px) {
  .place {
    width: calc(75% - 20px);
    margin: 5px 16%;
  }
}
.place:hover {
  transform: scale(1.05);
  z-index: 10;
}
.place img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  transition: all .2s;
}
.place:hover img {
  opacity: 1;
  filter: grayscale(0%);
}
.place p {
  font-size: 30px;
  margin: 0;
  width: 100%;
  position: relative;
  text-align: center;
  text-shadow: 0 0 20px black;
}
.placelist {
  width: 100%;
  display: block;
  font-size: 60px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background .2s;
}
.placelist:nth-child(even) {
  background-color: rgba(255,255,255,0.1);
}
.placelist:hover {
  background-color: rgba(79,161,167,0.8);
}
#stalking {
  padding: 0 10px 50px;
  height: auto;
}
#stalking p, #stalking h1 {
  margin: 0;
  padding: 5px 0;
  font-weight: normal;
}
#stalking p strong {
  font-size: 1.5em;
  font-weight: normal;
}
#milliage, #yage {
  font-weight: bold;
}
#stalking ul {
  padding: 5px;
  margin: 0;
  list-style: none;
}
#stalking ul li:before {
  content: '- ';
}
.list {
  background-color: rgba(255,255,255,0.1);
  display: block;
  padding: 0 5px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.list .social, .mini-social {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 15px 10px;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: transform .2s;
}
.list .social:hover {
  transform: scale(1.1);
}
.list .social .ball, .mini-social .ball {
  display: block;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.mini-social {
  cursor: auto;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin: 5px 0;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
}
.mini-social .ball {
  height: 15px;
  width: 15px;
}
#scratch {background-color: #25AFF4;}
#scratch .ball {border: 5px solid white; background-color: #F8A839;}
#instagram {background-image: url('/img/instagram_gradient.png'); background-size: 100px 100px;}
#instagram .ball {border: 5px solid white; background-color: transparent;}
#github {background-color: #181717;}
#google {background-color: #DC4E41;}
#youtube .ball {background-color: #FF0000;}
#tumblr {background-color: #36465D;}
#blogger {background-color: #FF5722;}
#twitter .ball {background-color: #1DA1F2;}
#reddit {background-color: #FF4500;}
#jsfiddle {background-color: #0483FF;}
#jsfiddle .ball {border: 5px solid white; background-color: transparent;}
#twitch {background-color: #6441A4;}
#twitch .ball {border: 5px solid white; background-color: transparent;}
#replit {background-color: #F4F4F5;}
#replit .ball {border: 15px solid #697C84; background-color: #4F5151;}
#codecademy .ball {border: 5px solid #1F4056; background-color: transparent;}
#minecraft {background-color: #6CD45A;}
#minecraft .ball {background-color: #000000;}
#discord {background-color: #7289DA;}
#facebook {background-color: #3B5998;}
.placelist .badge {
  display: inline-block;
  font-size: 30px;
  padding: 0 5px;
  max-width: 20px;
  height: 30px;
  overflow: hidden;
  transition: max-width .5s;
  white-space: nowrap;
  margin-right: 5px;
  margin-bottom: 5px;
}
.placelist .badge:hover {
  max-width: 25%;
}
.placelist .badge:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: -3px;
  margin-top: 5px;
  box-sizing: border-box;
  vertical-align: top;
}
.featured {
  background-color: #7DAB55;
}
.featured:before {
  background-image: url('/img/star.svg');
}
.new {
  background-color: #B18C5B;
}
.new:before {
  background-image: url('/img/material_new_releases.svg');
}
.place .badge {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  max-width: 20px;
  height: 20px;
  overflow: hidden;
  transition: max-width .5s;
  white-space: nowrap;
}
.place .badge:hover {
  max-width: 100%;
}
.place .badge:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: -3px;
  box-sizing: border-box;
}
#redirects h1 {
  margin: 0;
  padding: 10px;
  font-weight: normal;
}
#redirects dl {
  margin: 0;
  padding: 10px;
}
#redirects dt {
  float: left;
  clear: left;
  padding-right: 5px;
  margin: 5px 0;
}
#redirects dt:before {
  content: '?';
}
#redirects dd {
  margin: 0;
  float: left;
  margin: 5px 0;
}
#redirects a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  background-color: rgba(255,255,255,0.1);
}
#redirects a:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.15);
}
sheepmenu.blockvision, sheepmenu.blockvision:hover, sheepmenu.blockvision:active {
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0 !important;
  right: 0 !important;
  background-color: white;
  box-shadow: none;
  pointer-events: none;
}
sheepmenu.blockvision > svg, sheepmenu.blockvision:hover > svg, sheepmenu.blockvision:active > svg {
  position: absolute;
  padding: 0;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  stroke: black;
  width: 60px;
  height: 60px;
  opacity: 0;
}
sheepmenu.playhellos {
  transition: all 0.5s;
}
sheepmenu.playhellos > svg {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@keyframes hellos {
  0% {
    bottom: calc(50vh - 50vw);
    border-top-left-radius: 0;
    box-shadow: none;
    width: 100vw;
    height: 100vw;
    right: 0;
    opacity: 1;
  }
  100% {
    bottom: -20px;
    border-top-left-radius: 80px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
    right: -20px;
    opacity: 0.3;
  }
}
body.blank {
  background-color: white;
  color: black;
}
body.blank *:not(noscript) {
  display: none;
}
body.blank noscript {
  line-height: 18px;
  height: 18px;
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.menuicon {
  display: none;
  height: 20px;
  width: 20px;
  background-image: url('/img/hamburger.svg');
  padding: 4px 6px;
  border: 2px solid rgba(0,0,0,0.2);
  margin: 4px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  cursor: pointer;
}
.menuicon:hover {
  background-color: rgba(0,0,0,0.1);
}
.menuicon:active {
  background-color: transparent;
  transition: background-color .5s cubic-bezier(0,0,0,1);
}
nav .btncontainer {
  display: inline-block;
}
@media (max-width:480px) {
  nav .clickable {
    display: none;
  }
  nav .btncontainer {
    background-color: rgba(79,161,167,0.7);
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: block;
  }
  .menuicon {
    display: inline-block;
  }
  nav.open .clickable {
    display: block;
  }
  nav.open .btncontainer {
    height: auto;
  }
  nav.open .menuicon {
    background-image: url('/img/down.svg');
  }
}
.text-logo {
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  padding: 7.5px;
  vertical-align: top;
}
.text-logo span {
  color: white;
  padding: 0;
  font-size: inherit;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar {
  width: 5px !important;
}
::-webkit-scrollbar-track {
  background-color: black !important;
}
::-webkit-scrollbar-thumb {
  background-color: #4fa1a7 !important;
  border-radius: 0 !important;
}
#stalking p > a {
  background-color: rgba(0,0,0,0.3);
  border-bottom: 1px solid transparent;
}
#stalking p > a:hover, #stalking p > a:focus {
  border-bottom-color: rgba(255,255,255,0.8);
}

sarcasm {
  display: none; /* sarcasm is not needed here */
}
