html {
  width: 100%;
}
body {
  margin: 0;
  color: rgba(255,255,255,0.8);
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
nav {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  font-size: 0;
  /*animation: RAINBOWS 6s infinite;*/
  z-index: 10;
}
body {background: #242424;transition: background-color .5s;}
nav, nav btncontainer {background-color: rgba(92,92,92,0.8);transition: background-color .5s;}
nav:hover {background: rgb(92,92,92);}
body.blue {background: #0b1723;}
body.blue nav, body.blue nav btncontainer {background-color: rgba(58,119,182,0.8);}
body.blue nav:hover {background: rgb(58,119,182);}
body.red {background: #1f0a0a;}
body.red nav, body.red nav btncontainer {background-color: rgba(187,62,62,0.8);}
body.red nav:hover {background: rgb(187,62,62);}
body.green {background: #0b1f0a;}
body.green nav, body.green nav btncontainer {background-color: rgba(62,172,57,0.8);}
body.green nav:hover {background: rgb(62,172,57);}
body.yellow {background: #1f1d0a;}
body.yellow nav, body.yellow nav btncontainer {background-color: rgba(176,165,54,0.8);}
body.yellow nav:hover {background: rgb(176,165,54);}
body.pink {background: #1b0813;}
body.pink nav, body.pink nav btncontainer {background-color: rgba(196,59,133,0.8);}
body.pink nav:hover {background: rgb(196,59,133));}
@keyframes RAINBOWS {
  0% {background:#c44a4a}
  12.5% {background:#c4804a}
  25% {background:#c4be4a}
  37.5% {background:#76c44a}
  50% {background:#4ac4b9}
  62.5% {background:#4a83c4}
  75% {background:#6e4ac4}
  87.5% {background:#c44a88}
  100% {background:#c44a4a}
}
nav img {
  height: 20px;
  width: 20px;
  padding: 0 10px;
  transform: scale(2) translateY(1px);
  filter: drop-shadow(0 0 3px rgba(255,255,255,0.8));
  display: inline-block;
}
nav a {
  display: inline-block;
  font-size: 20px;
  height: 20px;
  padding: 10px;
  line-height: 1;
  position: relative;
}
nav a:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.15);
  transition: height .2s, background .2s;
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}
nav a:hover {
  color: white;
}
nav a:hover:after {
  height: 100%;
}
nav a:active:after {
  background: rgba(0,0,0,0.3);
}
nav a.active {
  cursor: default;
  color: white;
  background: rgba(0,0,0,0.1);
}
nav a.active:after {
  display: none;
}
nav logo {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  user-select: none;
  cursor: default;
}
cite {
  display: table;
  font-style: normal;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  color: black;
  font-family: serif;
  font-size: 16px;
  margin: 10px;
}
cite p {
  line-height: 2.4;
  margin-top: 0pt;
  margin-bottom: 0pt;
  margin-left: 36pt;
  text-indent: -36pt;
  /*white-space: pre-wrap;*/
  vertical-align: baseline;
}
cite a {
  position: relative;
}
cite a::after {
  content: 'Go to ' attr(href);
  color: white;
  background: rgba(0,0,0,0.8);
  position: absolute;
  text-indent: 0;
  left: 0;
  top: -100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1;
  cursor: default;
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s, padding .4s;
  transition-timing-function: cubic-bezier(0,0,0,1);
}
cite a:hover::after {
  max-height: 300px;
  padding: 5px;
}
.container {
  margin: 10px;
  margin-bottom: 50px;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 10px;
}
p {
  margin: 10px;
  margin-bottom: 20px;
}
menuicon {
  display: none;
  height: 20px;
  width: 20px;
  background-image: url('../img/hamburger.svg');
  padding: 4px 6px;
  border: 2px solid rgba(0,0,0,0.2);
  margin: 4px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  cursor: pointer;
}
menuicon:hover {
  background-color: rgba(0,0,0,0.1);
}
menuicon:active {
  background-color: transparent;
  transition: background-color .5s cubic-bezier(0,0,0,1);
}
h1 {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.container a {
  background: rgba(255,255,255,0.1);
}
.container a:hover {
  background: rgba(255,255,255,0.3);
}
.container a:active {
  background: rgba(255,255,255,0.1);
  transition: background .3s;
}
#logo {
  height: 100px;
}
.container imgcontainer {
  text-align: center;
  display: block;
  font-style: italic;
  font-size: 25px;
}
highlight {
  background: yellow;
  color: black;
  font-style: normal;
  font-weight: bold;
}
.container ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none;
}
.container ul li:before {
  content: '- ';
  color: rgba(255,255,255,0.5);
  display: inline;
}
.container img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
.container cap {
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(255,255,255,0.1);
  box-sizing: border-box;
  margin-top: -5px;
  padding: 5px 10px;
  max-width: 100%;
}
img.upsidedown {
  transform: rotate(180deg);
}
.container footer {
  text-align: right;
  margin-right: 60px;
}
@media screen and (max-width: 880px) {
  nav logo {
    font-size: 0;
  }
}
@media (max-width:650px) {
  nav logo {
    position: relative;
    top: -12.5px;
    font-size: 20px;
  }
  nav a {
    display: none;
  }
  nav btncontainer {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
  }
  nav menuicon {
    display: inline-block;
  }
  nav.open a {
    display: block;
  }
  nav.open btncontainer {
    height: auto;
  }
  nav.open menuicon {
    background-image: url('../img/down.svg');
  }
}
