.sheep-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.nav-home {
  font-weight: bold;
}
.nav-current {
  color: var(--heading);
  text-decoration: none;
}
