:root {
  --background: #253137;
  --layer: #1F292E;
  --metalayer: #1B2327;
  --metalayer-translucent: rgba(27, 35, 39, 0.8);
  --btn: #1F292E;
  --btn-hover: #324149;
  --separator: rgba(255, 255, 255, 0.1);
  --text: rgba(255, 255, 255, 0.65);
  --text-em: #87c9c3;
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 0;
  overflow: hidden;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}
:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.hidden-accessible {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.main {
  flex: auto;
  display: flex;
}

.panel {
  display: flex;
  width: 286px;
  flex-direction: column;
}
.menubar {
  background-color: var(--layer);
  padding: 5px 15px;
  display: flex;
  align-items: center;
}
.logo {
  color: var(--text-em);
  font-weight: 800;
  font-size: 16px;
  display: inline-block;
  margin-right: 15px;
}
.menu-btn {
  -webkit-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: var(--text);
  font-size: 14px;
  padding: 0 5px;
}
.tabs {
  display: flex;
}
.tab {
  padding: 5px;
  flex: 1 0 0;
  font-size: 14px;
  text-align: center;
}
#sources-tab:checked ~ .tabs [for="properties-tab"],
#properties-tab:checked ~ .tabs [for="sources-tab"] {
  cursor: pointer;
  background-color: var(--metalayer);
}
.sources,
.properties {
  display: none;
  flex: auto;
}
#sources-tab:checked ~ .sources,
#properties-tab:checked ~ .properties {
  display: block;
}

.sources {
  padding: 5px;
}
.source {
  display: inline-block;
  width: 128px;
  height: 72px;
  background-color: var(--layer);
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  margin: 5px;
}
.add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.property {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
}
.property:nth-child(2n) {
  background-color: var(--layer);
}
.property span {
  flex: auto;
  font-size: 14px;
}
.input-wrapper {
  flex: none;
  background-color: var(--metalayer);
  padding: 5px;
  padding-right: 30px;
  border-radius: 5px;
  font-family: monospace;
  position: relative;
}
.input-wrapper:focus-within {
  background-color: var(--btn-hover);
}
.value {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: var(--text);
  font-size: 14px;
  width: 8ch;
  text-align: right;
  cursor: ns-resize;
}
.value::-webkit-inner-spin-button {
  display: none;
}
.unit {
  font-size: 14px;
  margin-left: 5px;
  white-space: pre;
}
.key {
  -webkit-appearance: none;
  border: none;
  background: none;
  background-image: url('./key.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  top: 0;
  cursor: pointer;
}
.active {
  background-image: url('./keyed.svg');
}

.player {
  flex-direction: column;
  flex: auto;
  display: flex;
}
.preview {
  background-color: black;
  flex: auto;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#preview {
  max-width: 100%;
  max-height: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 5px 0;
  background-color: var(--metalayer);
}
.flex {
  flex: auto;
}
.space {
  width: 20px;
}
.tool-btn {
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;
  color: var(--text);
  padding: 0 5px;
  cursor: pointer;
}
.timestamp {
  font-size: 14px;
  margin: 0 5px;
}
#current {
  color: var(--text-em);
}

.timeline-scroller {
  position: relative;
  height: 200px;
  overflow: auto;
}
.timeline-wrapper {
  display: flex;
  align-items: stretch;
}
.timing-functions {
  position: relative;
  width: 150px;
  background-color: var(--metalayer-translucent);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
.timeline {
  flex: auto;
}
.time-markers {
  border-bottom: 1px solid var(--separator);
  height: 20px;
  width: 100%;
}
.track {
  height: 40px;
}
.track:nth-child(2n) {
  background-color: var(--layer);
}
