body {
  margin: 0;
  background: #e6d289;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: normal;
  color: rgba(0,0,0,0.8);
}
h1 {font-size:35px;}
h2 {font-size:30px;}
h3 {font-size:25px;}
h4 {font-size:20px;}
h5 {font-size:15px;font-weight:bold;}
h6 {font-size:15px;text-decoration:underline;}
dd {
  margin: 0;
}
.container dd {
  font-size: 12px;
}
header {
  position: fixed;
  top: 0;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
  height: 100px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  color: white;
  line-height: normal;
}
header h1 {
  font-size: 60px;
  margin: 0;
  color: white;
}
header h2 {
  color: white;
}
header ul li:before {
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  color: white;
}
.container {
  margin-bottom: 30px;
  margin-top: 100px;
  padding: 10px;
}
ul, ol {
  list-style-type: none;
  padding-left: 5px;
  margin: 5px 0;
}
ul ul, ol ul {
  list-style-type: inherit;
}
ul>li:before {
  content: '- ';
  color: rgba(0,0,0,0.5);
}
ol>li {
  counter-increment: merp;
}
ol>li:before {
  content: counter(merp) ' ';
  color: rgba(0,0,0,0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
ol>li:first-child {
  counter-reset: merp;
}
.container a {
  color: inherit;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}
.container a:hover {
  background: rgba(0,0,0,0.2);
}
.container a:active {
  background: rgba(0,0,0,0.4);
}
.container p {
  margin: 5px 0;
}
.container blockquote {
  margin: 5px;
  border-left: 2px solid rgba(0,0,0,0.5);
  padding-left: 10px;
}
.container img {
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
}
#authors {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 30px;
  background: rgba(0,0,0,0.2);
  height: 100px;
  box-sizing: border-box;
}
#authors h2 {
  margin: 0;
}
.disclaimer {
  color: rgba(255,255,255,0.2);
  font-size: 12px;
}
hr {
  margin: 5px 0;
  border: 1px solid rgba(0,0,0,0.2);
}
