// Imitation SCSS representing HTML
// (This gives me full control over the whitespace)

css {
  :root {
    color-scheme: dark;
  }

  // https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  button {
    -webkit-appearance: none;
    border: none;
    padding: 0;
    background: none;
    font: inherit;
    color: inherit;
  }
  button:not(:disabled) {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

html[prefix="og: http://ogp.me/ns/website#"][lang="en"][dir="ltr"] {
  head {
    meta[charset="UTF-8"];
    script[src="/redirects.js"] {}

    meta[name="viewport"][content="width=device-width, initial-scale=1"];

    // Typical meta
    title {
      content: "SheepTester";
    }
    meta[name="description"][content="A list of some projects I have made using fancy web technologies."];
    meta[name="keywords"][content="sheeptester, sheep tester, sheep_tester"];
    meta[name="theme-color"][content="#4fa1a7"];

    // Google search
    meta[name="google-site-verification"][content="hVAKq2ipG9tPimbCmGiDbT-Qq1-UEv35XweisVQ5VEE"];

    // Open graph
    meta[name="title"][content="SheepTester"];
    meta[property="og:title"][content="SheepTester"];
    meta[property="og:type"][content="website"];
    meta[property="og:url"][content="https://sheeptester.github.io/"];
    meta[property="og:image"][content="https://sheeptester.github.io/home-page/preview/opengraph.png"];
    meta[property="og:description"][content="A directory of some things I made."];

    // Twitter
    meta[name="twitter:card"][content="summary_large_image"];
    meta[name="twitter:title"][content="SheepTester"];
    meta[name="twitter:description"][content="A directory of some things I made."];
    meta[name="twitter:image"][content="https://sheeptester.github.io/home-page/preview/opengraph.png"];
    link[rel="canonical"][href="https://sheeptester.github.io/"];

    // Other icons from http://realfavicongenerator.net/
    link[rel="apple-touch-icon"][sizes="180x180"][href="/apple-touch-icon.png"];
    link[rel="icon"][type="image/png"][sizes="32x32"][href="/favicon-32x32.png"];
    link[rel="icon"][type="image/png"][sizes="16x16"][href="/favicon-16x16.png"];
    link[rel="manifest"][href="/manifest.json"];
    link[rel="mask-icon"][href="/safari-pinned-tab.svg"][color="#4fa1a7"];

    link[rel="stylesheet"][type="text/css"][href="/sheep3.css"];
    link[rel="stylesheet"][type="text/css"][href="/home-page/style.css"];

    script[src="/sheep3.js"] {}
  }

  css {
    html,
    body {
      height: 100%;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
      margin: 0;
      background-color: #171931;
      color: rgba(255, 255, 255, 0.7);
      word-break: break-word;
    }
    code,
    pre {
      font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
        monospace;
    }
  }
  body {
    script {
      // Need semicolons because the newlines are removed
      // Using ?. to weed out incompetent browsers
      content: """
        const params = new URL(window.location).searchParams;
        if (params.get('from')?.startsWith('sheep')) {
          window.history.replaceState({}, '', '/');
          document.body.classList.add('from-sheep');
        }
        document.body.classList.add('has-js');
        window.jsSuccess = true;
      """;
    }
    script {
      content: """
        if (!window.jsSuccess) {
          document.body.className = 'old-js';
        }
      """;
    }

    css {
      .strip {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 145px;
        background-image: linear-gradient(180deg, transparent 86.21%, rgb(23,
        25, 49, 0.75) 86.21%, rgb(23, 25, 49, 0.92), #171931),
        linear-gradient(90deg, #20de88, #28bbe8);
      }
    }
    @media (min-width: 1000px) {
      .strip {
        height: 60px;
        background-image: linear-gradient(180deg, transparent 66.67%, rgb(23,
        25, 49, 0.75) 66.67%, rgb(23, 25, 49, 0.92), #171931),
        linear-gradient(90deg, #20de88, #28bbe8);
      }
    }
    .strip {}

    css {
      .intro {
        position: fixed;
        bottom: 50%;
        right: 50%;
        z-index: 5;
        transform-origin: bottom right;
        animation: to-corner-then-disappear 2s cubic-bezier(0.7, 0, 0.35, 1) 1.2s forwards;
      }
      @keyframes to-corner-then-disappear {
        // Go to corner
        0% {
          bottom: 50%;
          right: 50%;
          transform: scale(1);
        }
        70% {
          bottom: 35px;
          right: 35px;
          opacity: 1;
          transform: scale(0.5);
        }
        // Then disappear
        80% {
          bottom: 35px;
          right: 35px;
          opacity: 1;
          transform: scale(0.5);
        }
        100% {
          bottom: 35px;
          right: 35px;
          opacity: 0;
          transform: scale(0.5);
        }
      }
    }
    .intro {
      css {
        .intro-back {
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          background-color: black;
          pointer-events: none;
          transform: translateZ(0);
          animation: circle-in 0.8s 0.8s both;
        }
        @keyframes circle-in {
          from {
            // 142 ≈ 100 sqrt(2) (diagonal of square screen)
            width: 142vmax;
            height: 142vmax;
            margin: -71vmax;
          }
          to {
            width: 100px;
            height: 100px;
            margin: -50px;
          }
        }
      }
      .intro-back {}

      css {
        .logo {
          position: absolute;
          width: 90px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -48%);
          pointer-events: none;
        }
      }
      svg.logo[xmlns="http://www.w3.org/2000/svg"][viewBox="0 0 480 480"] {
        $path: """
          M90 90
          a50 50 0 0 0 0 100
          H98.579
          A150 150 0 1 0 381.421 190
          H390
          a50 50 0 0 0 0 -100
          a50 50 0 1 1 -100 0
          a50 50 0 1 1 -100 0
          a50 50 0 1 1 -100 0
          z
        """;
        css {
          .logo-path {
            fill: none;
            stroke: rgba(255, 255, 255, 0.7);
            stroke-width: 20;
            animation: stroke-intro 1s 0.5s backwards;
          }
          @keyframes stroke-intro {
            from {
              stroke-dasharray: 0 1376;
              stroke-dashoffset: -170;
            }
            to {
              stroke-dasharray: 1376 0;
              stroke-dashoffset: -730;
            }
          }
          .from-sheep .logo-path {
            animation: none;
          }
        }
        path.logo-path[d="#{$path}"];
      }

      css {
        sheep-btn {
          animation: do-not-show-so-quickly 0.2s 2.4s backwards;
        }
        @keyframes do-not-show-so-quickly {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }

    css {
      .about {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
      }
    }
    @media (min-width: 1000px) {
      .about {
        overflow: auto;
        width: 500px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        // https://stackoverflow.com/a/38994837
        -ms-overflow-style: none;  // Internet Explorer 10+
        scrollbar-width: none;  // Firefox
      }
      .about::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }
    }
    section.about {
      css {
        .card {
          border-radius: 10px;
          overflow: hidden;
          padding: 0 20px;
          margin: 20px;
          background-color: #24364a;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        }
        .card p,
        .card h2 {
          margin: 15px 0;
        }
        .card h2 {
          color: rgba(255, 255, 255, 0.9);
          font-weight: normal;
        }
      }
      @media (min-width: 1000px) {
        .card {
          margin-left: 40px;
        }
      }

      css {
        .a11y-link:focus {
          position: fixed;
          top: 0;
          left: 0;
          margin: 20px;
          background: white;
          color: #066460;
          padding: 10px 20px;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          overflow: visible;
          width: auto;
          height: auto;
          clip: auto;
          clip-path: none;
        }
      }
      a.visually-hidden.a11y-link[href="#projects"] {
        content: "Skip to my projects";
      }

      .card {
        css {
          .card h1 {
            margin-top: 20px;
            margin-bottom: -15px;
            display: inline-block;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(90deg, #20de88, #28bbe8);
            font-size: 64px;
          }
        }
        h1#hello {
          content: "Hello,";
        }
        p {
          content: "I’m Sean, a second-year undergraduate at UC San Diego majoring in ";
          a.link[href="https://sheeptester.github.io/longer-tweets/major/"] {
            content: "computer engineering";
          }
          content: ", formerly a student at Gunn High School.";
        }
        css {
          .card .datum {
            margin-top: 1em;
          }
          .attribute {
            background-color: #111213;
            text-transform: uppercase;
            font-size: 0.8em;
            padding: 5px 10px;
            border-radius: 50px;
            margin-right: 5px;
          }
        }
        p.datum {
          span.attribute {
            content: "Pronounce";
          }
          content: " /ʃɔːn/";
        }
        p.datum {
          span.attribute {
            content: "Pronouns";
          }
          content: " he/him/his ♂️";
        }
        p.datum {
          span.attribute {
            content: "Location";
          }
          content: " SF Bay Area and San Diego";
        }
        p.datum {
          span.attribute {
            content: "Time Zone";
          }
          content: " Pacific Time";
        }
        p.datum {
          span.attribute {
            content: "Age";
          }
          content: " ";
          css {
            .age-clickable {
              cursor: pointer;
              color: rgba(255, 255, 255, 0.9);
            }
            .age {
              position: relative;
              display: inline-block;
              -webkit-user-select: none;
              user-select: none;
            }
            .age span {
              position: absolute;
              -webkit-user-select: text;
              user-select: text;
              color: rgba(255, 255, 255, 0.8);
            }
            .age span::after {
              content: attr(data-last);
              color: var(--last);
              position: absolute;
              top: 1em;
              left: 0;
            }
            .insignificant {
              opacity: 0.4;
            }
          }
          span#age[role="text"] {
            content: "at least 13";
          }
          content: " years";
        }
        p.datum {
          span.attribute {
            content: "Zodiac";
          }
          content: " sheep 羊, Aries ";
          css {
            .emoji {
              // Opaque color so the color emoji doesn't appear faded
              color: white;
            }
          }
          span.emoji {
            content: "♈";
          }
        }

        p {
          content: "This website, unlike others, is made for current and former kids like me, rather than employers who look for ";
          a.link[href="/résumé/"] {
            content: "résumés";
          }
          content: ", not games.";
        }

        css {
          .line {
            border: none;
            border-top: 1px solid rgba(151, 189, 179, 0.2);
            margin: 15px -20px;
          }
        }
        hr.line;

        p {
          content: "2023 internship season: ";
          em {
            content: "(last updated 2023-01-03)"
          }
        }
        css {
          .intern-stats {
            // list-style-type: '· ';
            padding-left: 27px;
            margin: 15px 0;
          }
        }
        ul.intern-stats {
          css {
            // 300 colors from Tailwind
            .applied {
              color: #fdba74;
            }
            .denied {
              color: #fca5a5;
            }
            .interviews {
              color: #fde047;
            }
          }
          li {
            strong.applied {
              content: "108";
            }
            content: " applied."
          }
          li {
            strong.interviews {
              content: "0";
            }
            content: " interview offers."
          }
          li {
            strong.denied {
              content: "24";
            }
            content: " denied."
          }
        }
      }

      .card {
        h2#interests {
          content: "Interests";
        }

        css {
          .interests {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 200px;
            grid-template-areas:
              "sheep webdev"
              "sheep ling";
            padding: 0;
            list-style: none;
            margin: 0 -20px;
          }
        }
        ul.interests {
          css {
            .interest {
              display: flex;
              align-items: flex-end;
              justify-content: flex-start;
              padding: 10px;
              background-size: cover;
              background-position: center;
            }
            .interest-name {
              background-color: rgba(0, 0, 0, 0.5);
              padding: 2px 10px;
              border-radius: 20px;
            }

            .interest-sheep {
              grid-area: sheep;
              // https://commons.wikimedia.org/wiki/File:Sheep,_Stodmarsh_6.jpg
              background-image: url('../img/interest-sheep.jpg');
            }
            .interest-webdev {
              grid-area: webdev;
              background-image: url('../img/interest-webdev.jpg');
            }
            .interest-ling {
              grid-area: ling;
              // May 9 photo
              background-image: url('../img/interest-ling.jpg');
            }
          }
          li.interest.interest-sheep {
            .interest-name {
              content: "Sheep";
            }
          }
          li.interest.interest-webdev {
            .interest-name {
              content: "Web dev";

              @media (max-width: 400px) {
                .webdev-extra {
                  display: none;
                }
              }
              span.webdev-extra {
                content: "elopment";
              }
            }
          }
          li.interest.interest-ling {
            .interest-name {
              content: "Linguistics";
            }
          }
        }
      }

      .card {
        h2#stalk {
          content: "How to stalk me";
        }

        $socials: import("./data/socials.yml");

        css {
          .socials {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
            gap: 5px;
            overflow: hidden;
            border-radius: 15px;
          }
        }
        @media (min-width: 680px) {
          .socials {
            grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
            gap: 10px;
          }
        }
        @media (min-width: 1000px) {
          .socials {
            gap: 20px;
            overflow: unset;
          }
        }
        .socials {
          $type: "a";
          @each $social in map.get($socials, 'profiles') {
            @import "./templates/social.html.scss";
          }
        }

        css {
          .usernames {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            margin: 20px 0;
            gap: 10px;
          }
        }
        .usernames {
          $type: "span";
          $extra-class: "username-icon";
          @each $social in map.get($socials, 'usernames') {
            css {
              .username {
                display: flex;
                text-decoration: none;
                color: inherit;
                align-items: center;
              }
              a.username:hover {
                color: white;
              }
              // TODO: Gmail icon has a hover effect; remove?
              .username-icon {
                display: block;
                width: 32px;
                height: 32px;
                padding: 0;
                margin-right: 10px;
              }
            }
            @if map.get($social, 'link') {
              a.username[href="#{map.get($social, 'link')}"] {
                @import "./templates/social.html.scss";
                content: "#{map.get($social, 'username')}";
              }
            }
            @if not map.get($social, 'link') {
              span.username {
                @import "./templates/social.html.scss";
                content: "#{map.get($social, 'username')}";
              }
            }
          }
        }

        css {
          .block-link {
            display: flex;
            text-decoration: none;
            color: inherit;
            margin: 0 -20px;
            border-top: 1px solid rgba(151, 189, 179, 0.2);
            padding: 20px;
          }
          .no-subtitle {
            padding: 0 20px;
            height: 64px;
            align-items: center;
          }
          .block-link:hover {
            background-color: rgba(255, 255, 255, 0.05);
          }
          .block-link-content {
            flex: auto;
          }
          .block-link-title {
            display: block;
            font-size: 1.2em;
            color: rgba(255, 255, 255, 0.8);
          }
          .block-link-subtitle {
            font-size: 0.9em;
          }
          .block-link-icon-wrapper {
            flex: none;
          }
          .block-link-icon {
            display: block;
            width: 32px;
            height: 32px;
          }
        }
        a.block-link[href="https://discord.gg/srtYgbVw4H"] {
          span.block-link-content {
            span.block-link-title {
              content: "Contact me through Discord";
            }
            span.block-link-subtitle {
              content: "Join my server to DM me without sending a friend request.";
            }
          }
          span.block-link-icon-wrapper {
            $type: "span";
            $extra-class: "block-link-icon";
            $social: map.get($socials, 'discord');
            @import "./templates/social.html.scss";
          }
        }
        a.block-link.no-subtitle[href="/résumé/"] {
          span.block-link-content {
            span.block-link-title {
              content: "View my résumé";
            }
            // span.block-link-subtitle {
            //   content: "For employers.";
            // }
          }
          span.block-link-icon-wrapper {
            css {
              .resume-icon {
                background-image: url('/home-page/icons/feather-arrow-right.svg');
                background-position: center;
                background-repeat: no-repeat;
                transition: transform .2s;
              }
              .block-link:hover .resume-icon {
                transform: translateX(5px);
              }
            }
            span.block-link-icon.resume-icon {}
          }
        }
      }

      .card {
        h2#legal {
          content: "Legal";
        }

        p {
          content: "The ";
          a.link[href="https://commons.wikimedia.org/wiki/File:Sheep,_Stodmarsh_6.jpg"] {
            content: "photo of the sheep";
          }
          content: " is by Kevin Law and is licensed under ";
          a.link[href="https://creativecommons.org/licenses/by-sa/2.0/deed.en"] {
            content: "CC BY-SA 2.0";
          }
          content: ".";
        }
      }
    }

    css {
      .project-wrapper {
        flex: auto;
      }
    }
    @media (min-width: 1000px) {
      .project-wrapper {
        margin-left: 500px;
      }
    }
    section.project-wrapper {
      $tags: import("./data/tags.yml");

      css {
        .projects-info {
          padding: 0 20px;
          max-width: 600px;
          margin: 0 auto;
          box-sizing: border-box;
        }
      }
      @media (min-width: 1000px) {
        .projects-info {
          margin: 0;
          max-width: none;
        }
      }
      .projects-info {
        css {
          .projects-header {
            font-weight: lighter;
            font-size: 56px;
            margin: 0;
            margin-top: 20px;
            color: rgba(255, 255, 255, 0.9);
          }
        }
        @media (min-width: 1000px) {
          .projects-header {
            margin-top: 60px;
          }
        }
        h1.projects-header#projects {
          content: "Projects";
        }

        css {
          .projects-note {
            margin: 0;
            margin-top: 10px;
          }
          .link {
            color: #1ce0e0;
          }
          .link:hover {
            text-decoration: underline;
          }
        }
        p.projects-note {
          content: "There’s some more on ";
          a.link[href="https://scratch.mit.edu/users/Sheep_maker/"] {
            content: "Scratch";
          }
          content: " and ";
          a.link[href="https://github.com/SheepTester?tab=repositories"] {
            content: "GitHub";
          }
          content: ".";
        }

        css {
          .warning {
            padding: 20px;
            border-radius: 10px;
            background-color: #dd2263;
            color: white;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
            margin: 20px 0;
          }
          .old-js-warning {
            display: none;
          }
          .old-js .old-js-warning {
            display: block;
          }
        }
        .warning.old-js-warning {
          content: """
            Note that many of these projects require new web features that your
            browser doesn’t support. Please use a modern browser.
          """;
        }
        noscript {
          .warning.no-js {
            content: """
              Note that many of these projects require JavaScript, which you do
              not have enabled.
            """;
          }
        }

        css {
          .filters {
            display: none;
          }
          .has-js .filters {
            display: block;
          }
        }
        .filters {
          css {
            .filter-by {
              margin: 0;
              font-weight: normal;
              font-size: 0.9em;
              text-transform: uppercase;
              margin-top: 20px;
              color: rgba(255, 255, 255, 0.5);
            }
          }
          h2.filter-by#filter-by {
            content: "Filter by";
          }

          @each $tag, $tag-data in $tags {
            css {
              .base-tag {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 75%, auto;
              }
            }
            css {
              .tag-#{$tag} {
                background-color: #{map.get($tag-data, 'colour1')};
                background-image: url("/home-page/icons/tag-#{$tag}.svg"),
                  linear-gradient(150deg, #{map.get($tag-data, 'colour1')},
                  #{map.get($tag-data, 'colour2')});
              }
            }

            input[type="checkbox"].visually-hidden.filter-checkbox#filter-by-#{$tag};

            css {
              .filter-tag {
                display: inline-flex;
                cursor: pointer;
                background-color: #111213;
                border-radius: 50px;
                margin-top: 10px;
                margin-right: 10px;
                overflow: hidden;
                height: 30px;
              }
              .filter-tag:hover {
                background-color: #272c31;
              }
              .filter-checkbox:focus-visible + .filter-tag {
                box-shadow: 0 0 0 1px black, 0 0 0 2px white;
              }
              .filter-checkbox:checked + .filter-tag {
                background-color: white;
                color: #111213;
              }
            }
            label.filter-tag[for="filter-by-#{$tag}"] {
              css {
                .filter-tag-icon {
                  width: 30px;
                }
                .filter-checkbox:checked + .filter-tag .tag-#{$tag} {
                  background-image: url("/home-page/icons/feather-check.svg"),
                    linear-gradient(150deg, #{map.get($tag-data, 'colour1')},
                    #{map.get($tag-data, 'colour2')});
                }
              }
              @if map.get($tag-data, 'dark') {
                css {
                  .filter-checkbox:checked + .filter-tag .tag-#{$tag} {
                    background-image: url("/home-page/icons/feather-check-black.svg"),
                      linear-gradient(150deg, #{map.get($tag-data, 'colour1')},
                      #{map.get($tag-data, 'colour2')});
                  }
                }
              }
              span.filter-tag-icon.base-tag.tag-#{$tag} {}

              css {
                .filter-tag-name {
                  margin: 0 10px;
                  align-self: center;
                }
              }
              span.filter-tag-name {
                content: "#{map.get($tag-data, 'name')}";
              }
            }
          }
        }
      }

      css {
        .projects {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
          padding: 20px 0;
          grid-auto-flow: dense;
        }
      }
      @media (min-width: 680px) {
        .projects {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          gap: 20px;
          padding: 20px;
        }
      }
      .projects#projects-wrapper {
        @each $project in import("./data/projects.yml") {
          @import "./templates/project.html.scss";
        }

        css {
          .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #24364a;
            grid-column: 1 / -1;
            line-height: 1.5;
          }
        }
        @media (min-width: 680px) {
          .description {
            border-radius: 10px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          }
        }
        .description#description-wrapper[style="display:none"][role="contentinfo"] {
          css {
            .description-body {
              width: 100%;
              max-width: 680px;
              box-sizing: border-box;
              padding: 20px;
            }
          }
          .description-body {
            css {
              .desc-title {
                margin: 0;
                flex: auto;
                color: rgba(255, 255, 255, 0.9);
                font-weight: normal;
                font-size: 2em;
                line-height: 1.1;
              }
            }
            h2.desc-title#desc-title {}

            .description-tags#desc-tags {
              css {
                .desc-tag {
                  display: inline-flex;
                  height: 30px;
                  overflow: hidden;
                  margin-top: 10px;
                  margin-right: 10px;
                }
                .desc-tag-icon {
                  width: 30px;
                  border-top-left-radius: 25px;
                  border-bottom-left-radius: 25px;
                }
                .desc-tag-name {
                  border-top-right-radius: 25px;
                  border-bottom-right-radius: 25px;
                  border: 1px solid rgba(151, 189, 179, 0.2);
                  border-left: none;
                  padding-right: 10px;
                  padding-left: 5px;
                  display: flex;
                  align-items: center;
                }
              }
            }

            .description-text#description {
              css {
                .description-text p {
                  margin: 10px 0;
                }
                .description-text p:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          css {
            .desc-visit {
              align-self: stretch;
              text-align: center;
              text-transform: uppercase;
              background-color: #1ce0e0;
              color: black;
              padding: 10px 0;
              margin: 20px;
              margin-top: 0;
              border-radius: 50px;
              font-weight: bold;
              transition: background-color .2s;
            }
            .desc-visit:hover {
              background-color: rgba(255, 255, 255, 0.05);
            }
            @media (min-width: 680px) {
              .desc-visit {
                display: none;
              }
            }
          }
          a[href="#"].desc-visit#desc-link {
            content: "Visit";
          }
        }
      }

      css {
        .tinder-note {
          margin: 0;
          padding: 20px;
          padding-top: 0;
          padding-right: 60px;
        }
      }
      p.tinder-note {
        content: "That was merely a preview of what this website has in store. ";
        a.link[href="./all/tinder.html"] {
          content: "Explore and sort through everything else.";
        }
      }
    }

    script[src="/home-page/main.js"] {}
  }
}
