// Imitation SCSS representing HTML
// (This gives me full control over the whitespace)

css {
  :root {
    color-scheme: dark;
  }

  // https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

html[prefix="og: http://ogp.me/ns/website#"][lang="en"][dir="ltr"] {
  head {
    meta[charset="UTF-8"];
    script[src="redirects.js"] {}

    meta[name="viewport"][content="width=device-width, initial-scale=1"];

    // Typical meta
    title {
      content: "SheepTester";
    }
    meta[name="description"][content="A list of some projects I have made using fancy web technologies."];
    meta[name="keywords"][content="sheeptester, sheep tester, sheep_tester"];
    meta[name="theme-color"][content="#4fa1a7"];

    // Google search
    meta[name="google-site-verification"][content="hVAKq2ipG9tPimbCmGiDbT-Qq1-UEv35XweisVQ5VEE"];

    // Open graph
    meta[name="title"][content="SheepTester"];
    meta[property="og:title"][content="SheepTester"];
    meta[property="og:type"][content="website"];
    meta[property="og:url"][content="https://sheeptester.github.io/"];
    meta[property="og:image"][content="https://sheeptester.github.io/Sheep_maker.png"];
    meta[property="og:description"][content="A directory of some things I made."];

    // Twitter
    meta[name="twitter:card"][content="summary"];
    meta[name="twitter:title"][content="SheepTester"];
    meta[name="twitter:description"][content="A directory of some things I made."];
    meta[name="twitter:image"][content="https://sheeptester.github.io/Sheep_maker.png"];
    link[rel="canonical"][href="https://sheeptester.github.io/"];

    // Other icons from http://realfavicongenerator.net/
    link[rel="apple-touch-icon"][sizes="180x180"][href="/apple-touch-icon.png"];
    link[rel="icon"][type="image/png"][sizes="32x32"][href="/favicon-32x32.png"];
    link[rel="icon"][type="image/png"][sizes="16x16"][href="/favicon-16x16.png"];
    link[rel="manifest"][href="/manifest.json"];
    link[rel="mask-icon"][href="/safari-pinned-tab.svg"][color="#4fa1a7"];

    link[rel="stylesheet"][type="text/css"][href="/sheep3.css"];
    link[rel="stylesheet"][type="text/css"][href="/home-page/style.css"];
    // link[rel="preconnect"][href="https://fonts.gstatic.com"];
    // link[href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"][rel="stylesheet"];

    script[src="/sheep3.js"] {}
  }

  css {
    html,
    body {
      height: 100%;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
      margin: 0;
      display: flex;
      flex-direction: column;
      background-color: #171931;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  @media (min-width: 1000px) {
    body {
      display: block;
    }
  }
  body {
    css {
      .strip {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        height: 145px;
        background-image: linear-gradient(180deg, transparent 86.21%, rgb(23,
        25, 49, 0.75) 86.21%, rgb(23, 25, 49, 0.92), #171931),
        linear-gradient(90deg, #20de88, #28bbe8);
      }
    }
    @media (min-width: 1000px) {
      .strip {
        height: 60px;
        background-image: linear-gradient(180deg, transparent 66.67%, rgb(23,
        25, 49, 0.75) 66.67%, rgb(23, 25, 49, 0.92), #171931),
        linear-gradient(90deg, #20de88, #28bbe8);
      }
    }
    .strip {}

    css {
      .about {
        max-width: 600px;
        width: 100%;
        align-self: center;
      }
    }
    @media (min-width: 1000px) {
      .about {
        overflow: auto;
        width: 500px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        // https://stackoverflow.com/a/38994837
        -ms-overflow-style: none;  // Internet Explorer 10+
        scrollbar-width: none;  // Firefox
      }
      .about::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }
    }
    section.about {
      css {
        .card {
          border-radius: 10px;
          padding: 20px;
          margin: 20px;
          background-color: #24364a;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        }
        .card h1,
        .card h2,
        .card p {
          margin: 0;
        }
        .card h2 {
          color: rgba(255, 255, 255, 0.9);
          margin-bottom: 15px;
          font-weight: normal;
        }
      }
      @media (min-width: 1000px) {
        .card {
          margin-left: 40px;
        }
      }

      css {
        .a11y-link:focus {
          position: fixed;
          top: 0;
          left: 0;
          margin: 20px;
          background: white;
          color: #066460;
          padding: 10px 20px;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          border-radius: 5px;
          overflow: visible;
          width: auto;
          height: auto;
          clip: auto;
          clip-path: none;
        }
      }
      a.visually-hidden.a11y-link[href="#projects"] {
        content: "Skip to my projects";
      }

      .card {
        css {
          .card h1 {
            display: inline-block;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(90deg, #20de88, #28bbe8);
            font-size: 64px;
          }
        }
        h1#hello {
          content: "Hello,";
        }
        p {
          content: """
            I’m Sean, a high school student graduating in 2021.
          """;
          // TODO: Age display
        }
      }

      .card {
        h2#interests {
          content: "Phenomena that interest me";
        }

        css {
          .interests {
            display: flex;
            text-align: center;
            align-items: flex-start;
            margin: 0 -20px;
          }
        }
        @media (max-width: 500px) {
          .interests {
            flex-direction: column;
            align-items: center;
            margin: 0;
          }
        }
        .interests {
          css {
            .interest {
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 10px;
            }
            .border {
              border-left: 1px solid rgba(151, 189, 179, 0.2);
              border-top: 1px solid rgba(151, 189, 179, 0.2);
              align-self: stretch;
            }

            // TEMP
            .interest img {
              width: 32px;
            }
          }

          // TODO: Images
          .interest {
            img[src="/SHEPS.svg"];
            p.sheep {
              content: "Sheep";
            }
          }
          .border {}
          .interest {
            img[src="/SHEPS.svg"];
            p {
              content: "Front-end web development";
            }
          }
          .border {}
          .interest {
            img[src="/SHEPS.svg"];
            p {
              content: "Constructed languages";
            }
          }
        }
      }

      .card {
        h2#stalk {
          content: "How to stalk me";
        }

        $socials: import("./socials.yml");

        css {
          .socials {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
            gap: 20px;
          }
        }
        .socials {
          $type: "a";
          @each $social in map.get($socials, 'profiles') {
            @import "./social.html.scss";
          }
        }

        .usernames {
          $type: "span";
          @each $social in map.get($socials, 'usernames') {
            @if map.get($social, 'link') {
              a[href="#{map.get($social, 'link')}"] {
                @import "./social.html.scss";
                content: "#{map.get($social, 'username')}";
              }
            }
            @if not map.get($social, 'link') {
              span {
                @import "./social.html.scss";
                content: "#{map.get($social, 'username')}";
              }
            }
          }
        }

        css {
          .discord-link {
            display: flex;
            text-decoration: none;
            color: inherit;
            margin: -20px;
            margin-top: 20px;
            border-top: 1px solid rgba(151, 189, 179, 0.2);
            padding: 20px;
          }
          .discord-link:hover {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }
        a.discord-link[href="https://discord.gg/srtYgbVw4H"] {
          css {
            .discord-text {
              flex: auto;
            }
          }
          span.discord-text {
            css {
              .discord-link-title {
                display: block;
                font-size: 1.2em;
                color: rgba(255, 255, 255, 0.8);
              }
            }
            span.discord-link-title {
              content: "Contact me through Discord";
            }
            css {
              .discord-link-subtitle {
                font-size: 0.9em;
              }
            }
            span.discord-link-subtitle {
              content: "Join my server to DM me without sending a friend request.";
            }
          }

          css {
            .discord-icon-wrappper {
              flex: none;
            }
          }
          span.discord-icon-wrappper {
            css {
              .discord-link-icon {
                display: block;
                width: 32px;
                height: 32px;
              }
            }
            $type: "span";
            $extra-class: "discord-link-icon";
            $social: map.get($socials, 'discord');
            @import "./social.html.scss";
          }
        }
      }
    }

    css {
      .project-wrapper {
        flex: auto;
      }
    }
    @media (min-width: 1000px) {
      .project-wrapper {
        margin-left: 500px;
      }
    }
    section.project-wrapper {
      css {
        .projects {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          gap: 20px;
          margin: 20px;
        }
      }

      css {
        .projects-info {
          padding: 0 20px;
          max-width: 600px;
          margin: 0 auto;
          box-sizing: border-box;
        }
      }
      @media (min-width: 1000px) {
        .projects-info {
          margin: 0;
        }
      }
      .projects-info {
        css {
          .projects-header {
            font-weight: lighter;
            font-size: 56px;
            margin: 0;
            margin-top: 20px;
            color: rgba(255, 255, 255, 0.9);
          }
        }
        @media (min-width: 1000px) {
          .projects-header {
            margin-top: 60px;
          }
        }
        h1.projects-header#projects {
          content: "Projects";
        }

        css {
          .projects-note a {
            text-decoration: none;
            color: #1ce0e0;
          }
          .projects-note a:hover {
            text-decoration: underline;
          }
        }
        p.projects-note {
          content: "There’s some more on ";
          a[href="https://scratch.mit.edu/users/Sheep_maker/"] {
            content: "Scratch";
          }
          content: " and ";
          a[href="https://github.com/SheepTester?tab=repositories"] {
            content: "GitHub";
          }
          content: ".";
        }
      }

      .projects {
        @each $project in import("./projects.yml") {
          @import "./project.html.scss";
        }
      }
    }
  }
}
