.simplecolourpicker {
  display: inline-block;
  -webkit-appearance: none;
  height: 1em;
  width: 2em;
  vertical-align: top;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.5em;
  cursor: pointer;
}
.simplecolourpicker:focus {
  border-color: rgba(0,0,0,0.4);
}
.simplecolourwrapper.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.simplecolourwrapper {
  position: fixed;
  background-color: #eee;
  border: 1px solid #333;
  opacity: 0;
  pointer-events: none;
  font-size: 0;
  padding: 5px;
  transform: translateY(5px);
  transition: opacity .2s, transform .2s;
}
.simplecolourhex {
  border: none;
  width: 115px;
  height: 20px;
  display: block;
  font-size: 15px;
  background-color: #ddd;
  font-family: monospace;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 5px;
}
.simplecolourhex:focus {
  cursor: text;
}
.simplecoloursquare {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
}
.simplecoloursquareknob {
  height: 6px;
  width: 6px;
  border: 1px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: -3px;
  margin-top: -3px;
  pointer-events: none;
}
.simplecolourhue {
  display: inline-block;
  height: 100px;
  width: 10px;
  margin-left: 5px;
}
.simplecolourhueknob {
  border-radius: 3px;
  background-color: rgba(0,0,0,0.5);
  height: 6px;
  width: 16px;
  box-sizing: border-box;
  margin-left: -3px;
  margin-top: -3px;
  pointer-events: none;
}
