/*
  IMPORTANT: Careful when using position: relative or transform on text, as
  Chrome's PDF generator will put the text at the end. ¯\_(ツ)_/¯
*/

:root {
  --theme: #22938e;
  --margin: 0.4in;
  /* Firefox and Edge (but not Chrome!) removes the header background color */
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  font-size: 14px;
  /* Workday cannot handle ligature glyphs for some reason. */
  font-variant-ligatures: none;
}
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  max-width: 1000px;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: var(--margin);
  border-top: 10px solid var(--theme);
  /* line-height: 1.25; */
}
@page {
  margin: 0;
}
.flex {
  flex: auto;
  min-height: 10px;
}
@media print {
  .flex {
    min-height: unset;
  }
}
ul {
  /* Default bullet is not selectable in PDFs, which I think confuses ATS. */
  list-style: '•';
  padding-left: 15px;
}
li {
  padding-left: 10px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  text-decoration: underline;
}
@media print {
  /* Show underlines under text to indicate that they're meant to be clicked on. */
  .show-link {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.3);
  }
  .intro .show-link {
    text-decoration-color: rgba(255, 255, 255, 0.5);
  }
  .screen-only {
    display: none;
  }
}

.icon {
  display: inline-block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-size: contain;
  flex: none;
}
/* https://feathericons.com/ */
.phone-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z' /%3E%3C/svg%3E");
}
.mail-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z' /%3E%3Cpolyline points='22,6 12,13 2,6' /%3E%3C/svg%3E");
}
.github-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22' /%3E%3C/svg%3E");
}
.linkedin-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z' /%3E%3Crect x='2' y='9' width='4' height='12' /%3E%3Ccircle cx='4' cy='4' r='2' /%3E%3C/svg%3E");
}
.globe-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Ccircle cx='12' cy='12' r='10' /%3E%3Cline x1='2' y1='12' x2='22' y2='12' /%3E%3Cpath d='M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z' /%3E%3C/svg%3E");
}
.link-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3' /%3E%3Cline x1='8' y1='12' x2='16' y2='12' /%3E%3C/svg%3E");
}

.header {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
  color: var(--theme);
}
.list {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}
.info {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.info-stretch {
  justify-content: space-between;
}
.info p {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen {
  .info > .link {
    color: #2c94ff;
  }
}
.name {
  font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 18px;
}
.project-name {
  color: inherit;
}
.link-indicator {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
.link-indicator span {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}
@media print {
  .link-indicator {
    display: inline;
  }
}
.label {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
/* For ATS reading the labels from PDFs */
.label::after {
  content: ':';
  color: white;
  font-size: 1px;
}
.courses-label:not(:first-child) {
  margin-left: 15px;
}
.sad-date {
  margin-left: auto;
}
.desc {
  margin: 0;
}
.subprojects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-left: 20px;
  border-left: 5px solid rgba(0, 0, 0, 0.3);
}
.course-desc {
  color: rgba(0, 0, 0, 0.5);
}

.intro {
  display: flex;
  height: 40px;
  align-items: end;
  margin-top: -5px;
}
.my-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: -8px 0;
  margin-right: 0.25in;
  align-self: flex-end;
}
.logo {
  margin-left: auto;
  display: flex;
  align-self: stretch;
  fill: none;
  stroke: black;
  stroke-width: calc(20 / 24 * 2);
  stroke-linejoin: round;
}
.logo-svg {
  height: 100%;
  overflow: visible;
}
.contact-info {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  gap: 0 20px;
}
.contact-entry {
  display: flex;
  align-items: center;
}
.contact-entry .icon {
  margin-right: 10px;
  opacity: 0.8;
}
.contact-link {
  color: inherit;
  word-break: break-word;
}

.bg-anchor {
  position: relative;
  z-index: -1;
}
.bg {
  position: absolute;
  left: calc(var(--margin) * -1);
  right: calc(var(--margin) * -1);
  top: calc(var(--margin) * -1 - 10px);
  height: 500px;
  overflow: hidden;
}
.blur {
  position: absolute;
  top: 0;
  right: -90px;
  width: 300px;
  height: 80px;
  border-radius: 500px;
  background-image: linear-gradient(90deg, #20de88, #28bbe8);
  filter: blur(50px);
  transform: rotate(30deg);
}

.for-the-bots {
  position: inline;
  z-index: -1;
  right: 0;
  bottom: 0;
  margin-left: -50px;
  color: white;
}
textarea {
  color: inherit;
  border: none;
}
.for-the-bots:focus-within {
  margin-left: -500px;
  color: unset;
}

@media screen and (max-width: 800px) {
  .inline-info {
    flex-wrap: wrap;
  }
  .contact-info {
    grid-template-rows: unset;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
@media (max-width: 600px) {
  .my-name {
    font-size: 24px;
    margin-right: 20px;
  }
  .subprojects {
    grid-template-columns: 1fr;
  }
}

@media print {
  sheep-btn {
    display: none;
  }
}
