.search-modal {
  border: none;
  padding: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  /* Transitioning display doesn't work on Firefox :/
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transition-behavior#browser_compatibility
  */
  transition: opacity 0.5s, display 0.5s allow-discrete;
  max-width: unset;
  max-height: unset;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  line-height: normal;
  word-break: break-word;
  color: rgba(255, 255, 255, 0.7);
  color-scheme: dark;
  overflow: hidden;
}
.search-modal[open] {
  display: flex;
  opacity: 1;
}
@starting-style {
  /* Needs to override .search-modal[open] */
  .search-modal[open] {
    opacity: 0;
  }
}
.search-modal::backdrop {
  background: none;
}
.search-modal a {
  text-decoration: none;
  color: inherit;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  width: calc(100% - 40px);
  max-width: 800px;
  height: calc(100% - 40px);
  transform: translateY(20px);
  transition: transform 0.5s;
}
.search-modal[open] .search-wrapper {
  transform: none;
}
@starting-style {
  .search-modal[open] .search-wrapper {
    transform: translateY(20px);
  }
}
.search {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  border: 0;
  padding-left: 36px;
  padding-right: 15px;
  background-image: url('/home-page/icons/feather-search.svg');
  background-position: 8px;
  background-repeat: no-repeat;
  font: inherit;
  color: inherit;
  background-color: #24364a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(151, 189, 179, 0.2);
  flex: none;
}
.search:focus {
  outline: none;
}
.search::placeholder {
  color: color-mix(in srgb, currentColor, transparent 50%);
}
.suggestions {
  width: 100%;
  max-width: 800px;
  margin-bottom: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #24364a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(151, 189, 179, 0.2);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  scroll-padding: 10px;
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
}
.no-results {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(20px);
}
.suggestion {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 10px;
}
.selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.suggestion:not(.selected):hover {
  background-color: #1f2e3f;
}
.suggestion strong {
  color: #1ce0e0;
}
.suggestion-desc,
.suggestion-path {
  white-space: pre-wrap;
}
.suggestion-desc {
  font-size: 0.8em;
}
.suggestion-path {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
}
