html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font: 0 / 1 'Roboto', sans-serif;
  background-color: #303030;
}
.material-btn {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #00BCD4;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 16px;
}
.material-btn:focus {
  outline: none;
}

#list {
  display: none;
  /* margin: 20px;
  background-color: #424242;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  border-radius: 2px;
  overflow: hidden; */
}
body.list-view #list {
  display: block;
}
.controls {
  height: 64px;
  border-bottom: 1px solid rgba(255,255,255,0.12);
  position: relative;
}
.controls .material-btn {
  margin: 14px 8px;
}
#remove {
  width: 48px;
  height: 48px;
  background-image: url("material_delete.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: -64px;
  margin: 8px;
  transition: right .2s;
}
body.has-selected #remove {
  right: 0;
}
#list > a {
  display: flex;
  text-decoration: none;
  height: 48px;
}
#list > a.heading {
  height: 56px;
}
#list > a:not(.heading):hover, #list > a:not(.heading):focus {
  outline: none;
  background-color: #424242;
}
#list > a > span {
  display: inline-block;
  font-size: 14px;
  padding: 17px 24px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  padding-left: 0;
  white-space: pre;
}
#list > a.heading > span {
  font-size: 12px;
  color: rgba(255,255,255,0.7);
  font-weight: 500;
  padding-top: 22px;
  padding-bottom: 22px;
}
#list > a > button {
  width: 48px;
  height: 48px;
  margin: 0 9px;
  background-image: url("material_uncheckbox.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}
#list > a > button.checked {
  background-image: url("material_checkbox.svg");
  opacity: 1;
}
#list > a > button.checked > div.ripple {
  background-color: rgba(0, 188, 212, 0.3);
}
#list > a > button:focus {
  outline: none;
}
#list > a.heading > button {
  margin: 4px 9px;
}
#list > a > span:first-of-type {
  flex: 3 0 0;
}
#list > a > span:last-of-type {
  flex: 7 0 0;
}
